/* styles.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #fff;
    overflow-x: hidden;
}

header {
    background-color: #6b3838;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    z-index: 2;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    flex: 1;
    position: relative;

}
main {
    padding: 20px;
    flex: 1;
    box-sizing: border-box;
    margin-left: 100px;
    margin-right: 100px;
    
}


footer {
    background-color: #6b3838;
    color: #fff;
    text-align: right;
    padding: 0.2em 0;
    position: relative;
    margin-top: auto;
    z-index: 2;
}

canvas {
    border: 2px solid black;
    width: calc(100%-150px);
    height: auto;
    max-height: calc(100vh-120px);
    display: block;
    margin: 0 auto;
}

.left-border, .right-border {
    width: 100px;
    background-color: #080707;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1,
}

.left-border {
    margin-right: 20px;
    left: 0;
}

.right-border {
    margin-left: 20px;
    right: 0;
}

.left-border img, .right,border img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    main {
        margin-left: 0;
        margin-right: 0;
    }

    .left-border, .right-border {
        position: static;
        width: 100%;
        padding: 0;
    }

    .left-border img, .right-border img {
        display: none;
    }
}
